
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

ul li {
	list-style: none;
}

a {
	background-color: transparent;
	outline: none;
}
a:active, a:hover, a:focus{
	outline: none;
}
abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: 0.5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button,
input[type="week"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	min-width: inherit;
	padding: 0.875em;
}

fieldset > :last-child {
	margin-bottom: 0;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}

.menu-item-has-children a:after,
.social-navigation a:before,
.dropdown-toggle:after,
.bypostauthor > article .fn:after,
.comment-reply-title small a:before,
.pagination .prev:before,
.pagination .next:before,
.pagination .nav-links:before,
.pagination .nav-links:after,
.search-submit:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}

body,
button,
input,
select,
textarea {
	color: #1a1a1a;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
	margin: 0;
	text-rendering: optimizeLegibility;
}

p {
	margin: 0 0 1.75em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border: 0 solid #1a1a1a;
	border-left-width: 4px;
	color: #686868;
	font-size: 19px;
	font-size: 1.1875rem;
	font-style: italic;
	line-height: 1.4736842105;
	margin: 0 0 1.4736842105em;
	overflow: hidden;
	padding: 0 0 0 1.263157895em;
	quotes: none;
}

blockquote p {
	margin-bottom: 1.4736842105em;
}

blockquote:before {
	content: "";
}

blockquote:after {
	content: "";
}

blockquote cite {
	color: #1a1a1a;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
	font-style: normal;
}

blockquote cite:before {
	content: "— ";
}

blockquote small {
	color: #1a1a1a;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

blockquote small:before {
	content: "— ";
}

blockquote em {
	font-style: normal;
}

blockquote i {
	font-style: normal;
}

blockquote strong {
	font-weight: 400;
}

blockquote b {
	font-weight: 400;
}

blockquote > :last-child {
	margin-bottom: 0;
}

q {
	quotes: none;
}

q:before {
	content: "";
}

q:after {
	content: "";
}

address {
	font-style: italic;
	margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: 'Open Sans', sans-serif;
}

pre {
	border: 1px solid #d1d1d1;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.3125;
	margin: 0 0 1.75em;
	max-width: 100%;
	overflow: auto;
	padding: 1.75em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	background-color: #d1d1d1;
	padding: 0.125em 0.25em;
}

abbr,
acronym {
	border-bottom: 1px dotted #d1d1d1;
	cursor: help;
}

mark,
ins {
	background: #007acc;
	color: #fff;
	padding: 0.125em 0.25em;
	text-decoration: none;
}

big {
	font-size: 125%;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #1a1a1a;
}

hr {
	background-color: #d1d1d1;
	border: 0;
	height: 1px;
	margin: 0 0 1.75em;
}

ul,
ol {
	margin: 0 0 1.75em 1.25em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
	margin-left: 1.5em;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin: 0 0 1.75em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 0 1.75em;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

del {
	opacity: 0.8;
}

table,
th,
td {
	border: 1px solid #d1d1d1;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 0.4375em;
}

input {
	line-height: normal;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
	background: #1a1a1a;
	border: 0;
	border-radius: 2px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	letter-spacing: 0.046875em;
	line-height: 1;
	padding: 0.84375em 0.875em 0.78125em;
	text-transform: uppercase;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #007acc;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: thin dotted;
	outline-offset: -4px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	background: #f7f7f7;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	color: #686868;
	padding: 0.625em 0.4375em;
	width: 100%;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
	background-color: #fff;
	border-color: #007acc;
	color: #1a1a1a;
	outline: 0;
}

.post-password-form {
	margin-bottom: 1.75em;
}

.post-password-form label {
	color: #686868;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 1.75em;
	text-transform: uppercase;
}

.post-password-form input[type="password"] {
	margin-top: 0.4375em;
}

.post-password-form > :last-child {
	margin-bottom: 0;
}

.search-form {
	position: relative;
}

input[type="search"].search-field {
	border-radius: 2px 0 0 2px;
	width: -webkit-calc(100% - 42px);
	width: calc(100% - 42px);
}

.search-submit:before {
	content: "";
	font-size: 24px;
	left: 2px;
	line-height: 42px;
	position: relative;
	width: 40px;
}

.search-submit {
	border-radius: 0 2px 2px 0;
	bottom: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 42px;
}

a {
	color: #007acc;
	text-decoration: none;
}

a:hover {
	color: #686868;
	outline: 0;
}

a:focus {
	color: #686868;
	outline: thin dotted;
}

a:active {
	color: #686868;
	outline: 0;
}

.entry-content a {
	box-shadow: 0 1px 0 0 currentColor;
}

.entry-summary a,
.taxonomy-description a,
.logged-in-as a,
.comment-content a,
.pingback .comment-body > a,
.textwidget a,
.entry-footer a:hover,
.site-info a:hover {
	box-shadow: 0 1px 0 0 currentColor;
}

.entry-content a:hover,
.entry-content a:focus,
.entry-summary a:hover,
.entry-summary a:focus,
.taxonomy-description a:hover,
.taxonomy-description a:focus,
.logged-in-as a:hover,
.logged-in-as a:focus,
.comment-content a:hover,
.comment-content a:focus,
.pingback .comment-body > a:hover,
.pingback .comment-body > a:focus,
.textwidget a:hover,
.textwidget a:focus {
	box-shadow: none;
}

/**
 * 6.2 - Menus
 */
 .site-header {
 	background: #0E63C9;
 }

 .site-header-menu {
 	-webkit-flex: 0 1 100%;
 	-ms-flex: 0 1 100%;
 	flex: 0 1 100%;
 	margin: 0.875em 0;
 }

 .site-header-menu.toggled-on,
 .no-js .site-header-menu {
 	display: block;
 }

 .main-navigation {
 	font-family: 'Open Sans', sans-serif;
 	clear: both;
 }

 .main-navigation ul {
 	text-align: center;
 }

 .site-footer .main-navigation {
 	margin-bottom: 1.75em;
 }

 .main-navigation ul {
 	list-style: none;
 	margin: 0;
 }

 .main-navigation li {
 	position: relative;
 }

 .main-navigation a {
 	color: #FFF;
 	display: block;
 	line-height: 1.3125;
 	font-size: 15px;
 	text-transform: uppercase;
 	font-weight: 500;
 	font-family: 'Open Sans', sans-serif;
 	letter-spacing: 3px;
 }

 .main-navigation a:hover {
 	text-decoration: none;
 	outline: none;
 }

 .main-navigation a:focus {
 	text-decoration: none;
 	outline: none;
 }

 .main-navigation a:active {
 	text-decoration: none;
 	outline: none;
 }

 .main-navigation .current-menu-item a {
 	font-weight: 600;
 }

 .main-navigation .current-menu-item a:hover {
 	color: #dd9933 !important;
 }

 .main-navigation .current-menu-item a:focus {
 	color: #dd9933 !important;
 }

 .main-navigation .current-menu-ancestor a {
 	font-weight: 500;
 }

 .main-navigation ul ul {
 	display: none;
 	margin-left: 0.875em;
 }

 .no-js .main-navigation ul ul {
 	display: block;
 }

 .main-navigation ul .toggled-on {
 	display: block;
 }

 .main-navigation .menu-item-has-children > a {
 	margin-right: 56px;
 }

 .dropdown-toggle {
 	background-color: transparent;
 	border: 0;
 	border-radius: 0;
 	color: #1a1a1a;
 	content: "";
 	height: 48px;
 	padding: 0;
 	position: absolute;
 	right: 0;
 	text-transform: none;
 	top: 0;
 	width: 48px;
 }

 .dropdown-toggle:after {
 	border: 0 solid #d1d1d1;
 	border-left-width: 1px;
 	content: "";
 	font-size: 24px;
 	left: 1px;
 	position: relative;
 	width: 48px;
 }

 .dropdown-toggle:hover,
 .dropdown-toggle:focus {
 	background-color: transparent;
 	color: #007acc;
 }

 .dropdown-toggle:focus {
 	outline: thin dotted;
 	outline-offset: -1px;
 }

 .dropdown-toggle:focus:after {
 	border-color: transparent;
 }

 .dropdown-toggle.toggled-on:after {
 	content: "";
 }

 .site-header .main-navigation + .social-navigation {
 	margin-top: 1.75em;
 }

 .site-footer .social-navigation {
 	margin-bottom: 1.75em;
 }

 .social-navigation ul {
 	list-style: none;
 	margin: 0 0 -0.4375em;
 }

 .social-navigation li {
 	float: left;
 	margin: 0 0.4375em 0.4375em 0;
 }

 .social-navigation a {
 	border: 1px solid #d1d1d1;
 	border-radius: 50%;
 	color: #1a1a1a;
 	display: block;
 	height: 35px;
 	position: relative;
 	width: 35px;
 }

 .social-navigation a:before {
 	content: "";
 	height: 33px;
 	line-height: 33px;
 	text-align: center;
 	width: 33px;
 }

 .social-navigation a:hover:before,
 .social-navigation a:focus:before {
 	color: #007acc;
 }

 .social-navigation a[href*="codepen.io"]:before {
 	content: "";
 }

 .social-navigation a[href*="digg.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="dribbble.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="dropbox.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="facebook.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="flickr.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="foursquare.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="plus.google.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="github.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="instagram.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="linkedin.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="path.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="pinterest.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="getpocket.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="polldaddy.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="reddit.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="skype.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="stumbleupon.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="tumblr.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="twitter.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="vimeo.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="wordpress.com"]:before,
 .social-navigation a[href*="wordpress.org"]:before {
 	content: "";
 }

 .social-navigation a[href*="youtube.com"]:before {
 	content: "";
 }

 .social-navigation a[href^="mailto:"]:before {
 	content: "";
 }

 .social-navigation a[href*="spotify.com"]:before {
 	content: "";
 }

 .social-navigation a[href*="twitch.tv"]:before {
 	content: "";
 }

 .social-navigation a[href$="/feed/"]:before {
 	content: "";
 }

 .post-navigation {
 	border-top: 4px solid #1a1a1a;
 	border-bottom: 4px solid #1a1a1a;
 	clear: both;
 	font-family: 'Open Sans', sans-serif;
 	margin: 0 7.6923% 3.5em;
 }

 .post-navigation a {
 	color: #1a1a1a;
 	display: block;
 	padding: 1.75em 0;
 }

 .post-navigation span {
 	display: block;
 }

 .post-navigation .meta-nav {
 	color: #686868;
 	font-size: 13px;
 	font-size: 0.8125rem;
 	letter-spacing: 0.076923077em;
 	line-height: 1.6153846154;
 	margin-bottom: 0.5384615385em;
 	text-transform: uppercase;
 }

 .post-navigation .post-title {
 	display: inline;
 	font-family: 'Open Sans', sans-serif;
 	font-size: 23px;
 	font-size: 1.4375rem;
 	font-weight: 700;
 	line-height: 1.2173913043;
 	text-rendering: optimizeLegibility;
 }

 .post-navigation a:hover .post-title,
 .post-navigation a:focus .post-title {
 	color: #007acc;
 }

 .post-navigation div + div {
 	border-top: 4px solid #1a1a1a;
 }

 .pagination {
 	border-top: 4px solid #1a1a1a;
 	font-family: 'Open Sans', sans-serif;
 	font-size: 19px;
 	font-size: 1.1875rem;
 	margin: 0 7.6923% 2.947368421em;
 	min-height: 56px;
 	position: relative;
 }

 .pagination:before {
 	background-color: #1a1a1a;
 	content: "";
 	height: 52px;
 	position: absolute;
 	top: 0;
 	width: 52px;
 	z-index: 0;
 	right: 0;
 }

 .pagination:after {
 	background-color: #1a1a1a;
 	content: "";
 	height: 52px;
 	position: absolute;
 	top: 0;
 	width: 52px;
 	z-index: 0;
 	right: 54px;
 }

 .pagination a:hover {
 	color: #1a1a1a;
 }

 .pagination a:focus {
 	color: #1a1a1a;
 }

 .pagination .nav-links {
 	padding-right: 106px;
 	position: relative;
 }

 .pagination .nav-links:before {
 	color: #fff;
 	font-size: 32px;
 	line-height: 51px;
 	opacity: 0.3;
 	position: absolute;
 	width: 52px;
 	z-index: 1;
 	content: "";
 	right: -1px;
 }

 .pagination .nav-links:after {
 	color: #fff;
 	font-size: 32px;
 	line-height: 51px;
 	opacity: 0.3;
 	position: absolute;
 	width: 52px;
 	z-index: 1;
 	content: "";
 	right: 55px;
 }

 .pagination .current .screen-reader-text {
 	position: static !important;
 }

 .pagination .page-numbers {
 	display: none;
 	letter-spacing: 0.013157895em;
 	line-height: 1;
 	margin: 0 0.7368421053em 0 -0.7368421053em;
 	padding: 0.8157894737em 0.7368421053em 0.3947368421em;
 	text-transform: uppercase;
 }

 .pagination .current {
 	display: inline-block;
 	font-weight: 700;
 }

 .pagination .prev {
 	background-color: #1a1a1a;
 	color: #fff;
 	display: inline-block;
 	height: 52px;
 	margin: 0;
 	overflow: hidden;
 	padding: 0;
 	position: absolute;
 	top: 0;
 	width: 52px;
 	z-index: 2;
 	right: 54px;
 }

 .pagination .prev:before {
 	font-size: 32px;
 	height: 53px;
 	line-height: 52px;
 	position: relative;
 	width: 53px;
 	content: "";
 	left: -1px;
 	top: -1px;
 }

 .pagination .prev:hover {
 	background-color: #007acc;
 	color: #fff;
 }

 .pagination .prev:focus {
 	background-color: #007acc;
 	color: #fff;
 	outline: 0;
 }

 .pagination .next {
 	background-color: #1a1a1a;
 	color: #fff;
 	display: inline-block;
 	height: 52px;
 	margin: 0;
 	overflow: hidden;
 	padding: 0;
 	position: absolute;
 	top: 0;
 	width: 52px;
 	z-index: 2;
 	right: 0;
 }

 .pagination .next:before {
 	font-size: 32px;
 	height: 53px;
 	line-height: 52px;
 	position: relative;
 	width: 53px;
 	content: "";
 	right: -1px;
 	top: -1px;
 }

 .pagination .next:hover {
 	background-color: #007acc;
 	color: #fff;
 }

 .pagination .next:focus {
 	background-color: #007acc;
 	color: #fff;
 	outline: 0;
 }

 .image-navigation,
 .comment-navigation {
 	border-top: 1px solid #d1d1d1;
 	border-bottom: 1px solid #d1d1d1;
 	color: #686868;
 	font-family: 'Open Sans', sans-serif;
 	font-size: 13px;
 	font-size: 0.8125rem;
 	line-height: 1.6153846154;
 	margin: 0 7.6923% 2.1538461538em;
 	padding: 1.0769230769em 0;
 }

 .comment-navigation {
 	margin-right: 0;
 	margin-left: 0;
 }

 .comments-title + .comment-navigation {
 	border-bottom: 0;
 	margin-bottom: 0;
 }

 .image-navigation .nav-previous:not(:empty),
 .image-navigation .nav-next:not(:empty),
 .comment-navigation .nav-previous:not(:empty),
 .comment-navigation .nav-next:not(:empty) {
 	display: inline-block;
 }

 .image-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before,
 .comment-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before {
 	content: "/";
 	display: inline-block;
 	opacity: 0.7;
 	padding: 0 0.538461538em;
 }

 .says,
 .screen-reader-text {
 	clip: rect(1px, 1px, 1px, 1px);
 	height: 1px;
 	overflow: hidden;
 	position: absolute !important;
 	width: 1px;
 	word-wrap: normal !important;
 }

 .site .skip-link {
 	background-color: #f1f1f1;
 	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
 	color: #21759b;
 	display: block;
 	font-family: 'Open Sans', sans-serif;
 	font-size: 14px;
 	font-weight: 700;
 	left: -9999em;
 	outline: none;
 	padding: 15px 23px 14px;
 	text-decoration: none;
 	text-transform: none;
 	top: -9999em;
 }

 .logged-in .site .skip-link {
 	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
 	font-family: 'Open Sans', sans-serif;
 }

 .site .skip-link:focus {
 	clip: auto;
 	height: auto;
 	left: 6px;
 	top: 7px;
 	width: auto;
 	z-index: 100000;
 }

 .alignleft {
 	float: left;
 	margin: 0.375em 1.75em 1.75em 0;
 }

 .alignright {
 	float: right;
 	margin: 0.375em 0 1.75em 1.75em;
 }

 .aligncenter {
 	clear: both;
 	display: block;
 	margin: 0 auto 1.75em;
 }

 blockquote .alignleft {
 	margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
 }

 blockquote .alignright {
 	margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
 }

 blockquote.aligncenter {
 	margin-bottom: 1.473684211em;
 }

 .clear:before,
 .clear:after,
 blockquote:before,
 blockquote:after,
 .entry-content:before,
 .entry-content:after,
 .entry-summary:before,
 .entry-summary:after,
 .comment-content:before,
 .comment-content:after,
 .site-content:before,
 .site-content:after,
 .site-main > article:before,
 .site-main > article:after,
 .primary-menu:before,
 .primary-menu:after,
 .social-links-menu:before,
 .social-links-menu:after,
 .textwidget:before,
 .textwidget:after,
 .content-bottom-widgets:before,
 .content-bottom-widgets:after {
 	content: "";
 	display: table;
 }

 .clear:after,
 blockquote:after,
 .entry-content:after,
 .entry-summary:after,
 .comment-content:after,
 .site-content:after,
 .site-main > article:after,
 .primary-menu:after,
 .social-links-menu:after,
 .textwidget:after,
 .content-bottom-widgets:after {
 	clear: both;
 }

 .product-css {
 	background: #efefef;
 }

 #product {
 	overflow: hidden;
 	width: 100%;
 }

 .product-content {
 	overflow: hidden;
 }

 .product-content ul li {
 	display: inline-block;
 	list-style: none;
 	vertical-align: top;
 	margin: 10px 0;
 	float: left;
 	position: relative;
 }

 .title_main h4 {
 	color: #fff;
 	font-size: 14px;
 	margin-bottom: 5px;
 	margin-top: 10px;
 	-webkit-transition: all 0.2s ease-out;
 	-moz-transition: all 0.2s ease-out;
 	transition: all 0.2s ease-out;
 	text-align: center;
 	margin: 20px 10px 10px;
 	letter-spacing: 2px;
 }
.title_main a{
	color: #fff !important;
	text-align: center;
	font-size: 13px;
}
.title_main p.date{
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
}
 .product-content .title_main h4 {
 	color: #333;
 }

 .title_main div {
 	white-space: nowrap;
 	color: #fff;
 	font-size: 14px;
 	text-overflow: ellipsis;
 }

 .title_main div ul {
 	margin: 0;
 }

 .title_main div ul li {
 	display: inline-block;
 	margin-right: 10px;
 }

 .title_main div ul li a {
 	color: #fff !important;
 }

 .title-product {
 	font-size: 18px;
 	text-align: center;
 	text-transform: uppercase;
 	margin: 30px 0 40px;
 }

 .information-css {
 	margin: 7px 0;
 }

 .team-css .top-team {
 	padding: 20px 0 !important;
 	background-color: #f47a2a !important;
 	text-align: center;
 }

 .team-css .top-team h2 {
 	color: #fff;
 	font-size: 30px !important;
 	margin-bottom: 15px;
 }

 .team-css .top-team p {
 	color: #fff;
 	font-size: 15px;
 }

 .team-css .bottom-team {
 	margin-top: -150px;
 }

 .team-css .bottom-team ul {
 	margin-bottom: 0;
 }

 .team-css .bottom-team ul li {
 	padding: 0 !important;
 }

 .team-css .bottom-team ul li .title_main {
 	padding: 0;
 }

 .contact-css {
 	padding-bottom: 50px !important;
 	background: url(../img/img12.png) no-repeat #f47a2a !important;
 }

 .contact-css .top-contact {
 	padding-left: 0;
 	padding-right: 0;
 	text-align: center;
 }

 .contact-css .top-contact .vc_column-inner {
 	box-sizing: border-box;
 	padding-left: 15px;
 	padding-right: 15px;
 	width: 40%;
 	padding-top: 35px;
 	text-align: center;
 	margin: 0 auto;
 }

 .contact-css .top-contact .vc_column-inner h2 {
 	text-transform: uppercase;
 	color: #fff;
 	font-size: 20px;
 	margin: 10px 0 15px;
 }

 .contact-css .top-contact .vc_column-inner p {
 	line-height: 1.8em;
 	color: #fff;
 	margin-bottom: 50px;
 }

 .contact-css .bottom-contact .contact-content li {
 	padding: 50px 0;
 	background: #fff;
 	text-align: center;
 }

 .contact-css .bottom-contact .contact-content li:nth-child(2) {
 	border-left: 1px solid #eee;
 	border-right: 1px solid #eee;
 }

 .contact-css .bottom-contact .contact-content li div {
 	padding: 0 40px;
 }

 .contact-css .bottom-contact .contact-content li div h4 {
 	font-size: 16px;
 	margin: 20px 0;
 	text-transform: uppercase;
 	color: #686868;
 }

 .contact-css .bottom-contact .contact-content li div p {
 	font-size: 14px;
 }

 .contact-css .bottom-contact .contact-content li div .line {
 	border-color: #dfb947;
 	width: 80px;
 	border-bottom-width: 2px;
 	position: relative;
 	display: inline-block;
 	vertical-align: middle;
 	border-bottom: 1px solid #dfb947;
 	margin: 10px 0;
 }

 .partner-css {
 	overflow: hidden;
 }

 .partner-css .partner-content {
 	width: 100%;
 }

 .partner-css .partner-content .title-partner {
 	text-align: center;
 	text-transform: uppercase;
 	font-size: 22px;
 	padding: 70px 0 10px;
 }

 .partner-css .partner-content p {
 	text-align: center;
 }

 .partner-css .partner-content ul li div {
 	background: #fff;
 	padding: 20px;
 }

 .partner-css .partner-content ul li div h4 {
 	font-size: 15px;
 }

 .partner-css .partner-content ul li div p.office {
 	font-size: 14px;
 	line-height: 1.8em;
 	text-align: left;
 }

 .partner-css .partner-content ul li div p.office span {
 	font-weight: bold;
 }

 .partner-css .partner-content .mar-partner {
 	width: 70%;
 	margin: 0 auto;
 }

 .site-footer {
 	background: #fff;
 	padding: 20px 0;
 }

 .site-footer .copy-right p {
 	font-size: 14px;
 	color: #333;
 	margin-bottom: 0;
 	text-align: center;
 }

 .information-css {
 	background: #f47a2a;
 }

 .main-navigation .primary-menu > li {
 	/*padding-top: 20px;*/
 	position: relative;
 }
.main-navigation .primary-menu > li a {
	font-weight: 600;
}

.main-navigation .primary-menu > li:hover a {
	color: #fff;
}

.site-header #site-header-menu {
	padding: 0;
	margin: 0;
}

.info-top-header {
	clear: both;
	overflow: hidden;
}
.info-header {
	float: right;
	height: 26px;
	margin-bottom: 35px;
	background: #fff;
	font-weight: bold;
	border-bottom: 1px solid #86b1e4;
}
.info-header ul li {
	font-size: 12px;
	font-weight: 600;
	display: inline;
	margin-right: 10px;
	font-family: 'Open Sans', sans-serif;
	color: #0E63C9;
	letter-spacing: 2px;
	padding: 0 10px;
}

.contact-content ul {
	background: #fff;
	padding: 50px 0;
}

.contact-content ul li {
	position: relative;
}

.contact-content ul li div {
	padding: 0 20px;
}

.contact-content ul li h4 {
	margin: 15px 0;
	font-size: 14px;
	text-transform: uppercase;
}

.contact-content ul li p {
	margin-bottom: 30px;
}

.contact-content ul li:after {
	content: "";
	position: absolute;
	width: 35%;
	background: #f04e26;
	height: 4px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	border-radius: 10px;
}

.mar-partner {
	padding: 70px 0 0;
}

.mar-partner h2 {
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
}

.process-css {
	margin-bottom: 40px !important;
}

.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	background: #0E63C9;
}

#recruit {
	background: #efefef;
	padding: 20px 0 0;
	text-align: center;
}

.title-recruit {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	margin: 20px 0 40px;
	font-weight: 600;
}

.title_cruit_h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 600;
}

.des_cruit {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.des_cruit a {
	color: #333;
}

.list-person li {
	display: inline-block;
}

.list-person {
	text-align: center;
}

.toolbox {
	cursor: pointer;
	display: block;
	position: fixed;
	left: 0;
	bottom: 40%;
	z-index: 999;
	padding: 10px 12px;
	background: #4267b2;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.toolbox ul {
	margin-left: 0;
}

.toolbox ul li i {
	color: #fff;
	font-size: 20px;
}

.toolbox > i {
	position: absolute;
	right: -6px;
	top: 14px;
	color: #4267b2;
}

.iframe {
	position: fixed;
	left: 50px;
	top: 40%;
	display: none;
}

.show_frame {
	display: block;
}
 /* hai add new style */
 .banner-column-left > p{
 	text-transform: uppercase;
 	font-family: 'Open Sans', sans-serif;
 	color: #fff;
 }
 .banner-column-left > p.p0 {
 	font-weight: 600;
    font-size: 17px;
    letter-spacing: 6px;
 }
 .banner-column-left > p.p1 {
 	font-weight: 800;
    font-size: 40px;
    letter-spacing: 2px;
 }
 .banner-column-left > p.p2{
 	font-weight: 600;
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 1.8;
    margin-bottom: 48px;
 }
 .banner-column-left > a {
 	padding: 5px 70px;
 	border: 1px solid #fff;
 	border-radius: 20px;
 	color: #fff;
 	font-weight: bold;
 	font-size: 22px;
 }
 .banner-column-right {
 	overflow: hidden;
 	margin: 0 auto;
 }
 .banner-column-right img{
 	width: 54%;
 }
 .list-process {
    padding-bottom: 0 !important;
    background-image: url(../img/line.png) !important;
    background-repeat: repeat-y !important;
    background-position: right 28px bottom 20px;
    float: right;
    text-align: left;
    width: 100%;
    margin-bottom: 0;
}
.list-process-none{
	background-image: none !important;
}
.list-process li {
    color: #0E63C9;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 60px;
    text-align: right;
    padding-right: 40px;
    padding: 10px 90px 10px 0;
}
.list-process .feature-title {
    font-weight: 800;
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}
.list-process li.first {
    background: url(../img/1.png) no-repeat right top !important;
}
.list-process li.second {
    background: url(../img/2.png) no-repeat right top !important;
}
.list-process li.third {
    background: url(../img/3.png) no-repeat right top !important;
}
.list-process > p {
	margin: 0px;
	padding: 0px;
	color: #fff;
}
.list-process .feature-title {
	font-weight: 800;
	font-size: 22px;
	padding: 0px;
	margin: 0px;
}
.feature {
	color: #0E63C9;
	margin: 50px 0 20px;
	float: right;
}
.feature .title {
	font-weight: 800;
	padding:0px;
	margin: 0px;
	font-size: 27px;
}
.product .title_main img {
	height: 50px;
}
.product .title_main h4 {
	font-weight: 800
}
.product .product-info {
	text-align: center;
	padding: 40px;
}
.product .title {
	text-transform: uppercase;
font-weight: 700;
font-family: 'Open Sans', sans-serif;
color: #fff;
text-align: center;
display: block;
clear: both;
letter-spacing: 3px;
font-size: 34px;
}
.product .sub-title {
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	margin: 0px;
	padding: 0px;
}
.information .title {
	text-transform: uppercase;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	color: #0E63C9;
	text-align: center;
	display: block;
	clear:both;
	font-size: 57px;
}
.information .sub-title {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.readme {
	background:#0E63C9;
	padding: 40px;
	text-align: center;
}
.readme h1 {
	text-align: center;
text-transform: uppercase;
font-weight: 600;
font-size: 30px;
margin-bottom: 10px;
color: #fff;
font-family: 'Open Sans', sans-serif;
}
.readme a {
	border: 1px solid #007bff;
border-radius: 31px;
padding: 5px 27px;
letter-spacing: 2px;
text-transform: uppercase;
font-weight: 600;
color: #0e63c9;
display: inline-block;
margin-top: 20px;
font-size: 13px;
background-color: #fff;
}
.readme a:hover{
	text-decoration: none;
}
.application {
	padding: 100px 40px;
	text-align: center;
}
.application .title {
	text-align: center;
color: #0E63C9;
margin: 0px;
font-weight: bold;
font-size: 30px;
letter-spacing: 2px;
padding: 0px;
font-family: 'Open Sans', sans-serif;
margin-bottom: 35px;
}
.top-footer .link {
	padding-top: 100px;
}
.top-footer .link li {
	font-weight: 600;
	font-size: 18px;
	padding: 10px;
}
.top-footer .link li  a {
	color: #fff;
}
.carousel-indicators{
	bottom: -77px !important;
}
.carousel-indicators li{
	width: 6px !important;
	height: 6px !important;
	border-radius: 4px;
}
.more-info {
	border: 1px solid #007bff;
	border-radius: 31px;
	padding: 5px 27px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 600;
	float: left;
	color: #0e63c9;
	display: inline-block;
	margin-top: 20px;
	font-size: 13px;
}
.top-feature {
	background-color: #e8e8e8;
}
.news {
	background-color: #e8e8e8;
}
.news .title-news {
	color: #0e63c9;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin: 40px 0 15px;
	font-size: 30px;
}
.news p.dess {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
	font-size: 14px;
	margin-bottom: 50px;
}
.list-news li{
	position: relative;
	padding: 0;
}
.list-news li img{
	width: 100%;
}
.list-news li.second{
	height: 50%;
}
.list-news li .title_main{
	position: absolute;
	bottom: 0;
	background: #00000078;
	padding: 16px 31px;
	width: 100%;
}
.list-app li{
	display: block;
	margin-bottom: 10px;
}
.main-app{
	width: 60%;
	margin: 0 auto;
}
.main-app p{
	font-weight: 600;
	letter-spacing: 1px;
}
.main-app .center p{
	padding-top: 100px;
}
.product-info ul li{
	color: #fff;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 400;
}
.product-info ul li.first{
	font-weight: 600;
}
.product-link ul li{
	margin-bottom: 10px;
}
.product-link ul li a{
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
}
.product-service ul{
margin-left: 0 !important;
}
.product-service ul li{
margin-bottom: 10px;
}
.product-service h4{
	color: #fff;
	text-transform: uppercase;
	font-size: 17px;
	letter-spacing: 2px;
}
.product-service ul li a{
	color: #fff;
	letter-spacing: 1px;
	font-size: 13px;
}
.copyright{
	text-align: center;
	color: #fff;
	letter-spacing: 2px;
	margin-bottom: 0 !important;
	padding: 20px 0 40px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.margin-sercurity{
	margin: 20px 0 0;
}
.text-social{
	margin-left: 27%;
}
.login-target{
	background: #2681db;
	border: 1px solid #fff !important;
	margin-left: 50px;
	border-radius: 10px;
}
.new-cat{
	margin-bottom: 10px;
}
.new-cat .cat-title{
	font-size: 17px;
	line-height: 1.6;
	margin: 17px 0 5px;
}
.new-cat .cat-title a{
	color: #000;
}
.main-cate-new{
	margin-top: 30px;
}
.cpost-info i{
	margin-right: 3px;
}
.breadcrumb-list{
	margin-left: 0 !important;
	padding: 10px 0;
}
.breadcrumb-list li{
	margin-right: 2px;
}
.breadcrumb-list>li {
	display: inline-block;
}
.single-content .single-title{
	font-size: 20px;
}
.related-title h3{
	font-size: 17px;
	color: #fff;
	background: #0060cc;
	padding: 10px;
}
.related-content ul{
	margin-left: 0 !important;
	margin-bottom: 40px !important
}
.contact-form .input-group .input-group-addon{
	width: 12%;
}
.contact-form .input-group .wpcf7-form-control-wrap{
	width: 88%;
}
.contact-form .input-group .form-control{
	width: 100% !important;
}
@media screen and (max-width: 1200px) {
	.banner{
		padding: 85px 0 70px;
		margin-bottom: 20px !important;
	}
	.banner-column-left > p.p1{
		font-size: 24px;
	}
	.banner-column-left > p.p2{
		font-size: 17px;
		margin-bottom: 25px;
	}
	.carousel-indicators{
		bottom: -57px !important;
	}
	.infomation_block h3{
		margin: 20px 0 30px;
	}
	.list-process li{
		margin-bottom: -25px;
	}
	.readme h1{
		font-size: 18px !important;
	}
	.application{
		padding: 30px 40px;
	}
	.main-navigation .primary-menu > li a{
		padding: 3px;
	}
	.login-target{
		padding: 4px 6px !important;
		margin-left: 10px;
	}
	.login-target a{
		padding: 2px !important;
	}
}
@media screen and (max-width: 768px) {

	.site-header-menu.toggled-on {
		display: block !important;
		padding: 0 !important;
	}

	.menu-toggle {
		margin: 1.3125em 15px;
		border: none;
		color: #333;
		padding: 0;
	}

	.menu-toggle i {
		font-size: 25px;
	}

	.main-navigation li {
		padding: 15px 0;
		text-align: center;
	}

	.main-navigation li a {
		color: #fff;
		font-size: 11px;
		letter-spacing: 1px !important;
	}

	.main-navigation li a:hover {
		outline: none;
		text-decoration: none;
	}

	.main-navigation li a:focus {
		outline: none;
		text-decoration: none;
	}

	.main-navigation li a:active {
		outline: none;
		text-decoration: none;
	}

	.site-header {
		padding: 0;
	}

	.menu-toggle.toggled-on,
	.menu-toggle.toggled-on:hover,
	.menu-toggle.toggled-on:focus {
		color: #333;
		background-color: transparent;
		border: none;
	}

	.infomation_block {
		margin-bottom: 20px;
	}

	.product-content ul {
		margin: 0;
	}

	.contact-css .top-contact .vc_column-inner {
		width: 100%;
	}

	.custom-logo-link img {
		max-width: 100%;
	}

	.info-header {
		width: auto !important;
	}

	.info-header ul {
		padding-left: 0;
	}

	.main-navigation .primary-menu > li {
		display: inline-block;
		margin-right: 2px;
	}

	.image-rs {
		padding-top: 30px;
		display: block;
	}
	.banner-column-left > p.p0{
		font-size: 13px;
	}
	.banner-column-left > p.p1{
		font-size: 16px;
	}
	.banner-column-left > p.p2{
		font-size: 13px;
	}
	.title_main h4{
		line-height: 1.8;
	}
	.product{
		margin-bottom: 0 !important;
		background: #0E63C9 !important;
	}
	.product .title{
		font-size: 25px;
	}
	.product .product-info{
		padding: 10px !important;
	}
	.list-news li.second .row{
		margin: 0 !important;
	}
	.list-news li{
		margin-bottom: 10px !important;
	}
	.news{
		margin-bottom: 0 !important;
	}
	.list-process li{
		margin-bottom: 0 !important;
		text-align: left;
	}
	.site-main{
		margin-bottom: 0 !important;
	}
	.site-main > article{
		margin-bottom: 0 !important;
	}
	.top-footer{
		background: #0E63C9;
	}
}

@media screen and (max-width: 767px) {
	.image-rs {
		padding-top: 0px;
	}

	#menu-toggle {
		background: #000;
		padding: 6px 10px;
		margin-top: 34px;
		margin-right: 0px;
	}

	#menu-toggle i {
		color: #fff;
		font-size: 21px;
	}

	#menu-toggle:active {
		outline: none;
	}

	.info-header {
		width: 100%;
		margin-bottom: 0;
	}

	.main-navigation li {
		border-top: 1px solid #333;
		margin-bottom: 10px;
	}

	.main-navigation li:last-child {
		margin-bottom: 0 !important;
	}

	.main-navigation li a {
		color: #333;
		padding-top: 10px;
	}

	.main-navigation .primary-menu > li:hover a:after, .main-navigation .primary-menu > li.current-menu-item a:after {
		display: none;
	}

	.site-main > article {
		margin-bottom: 15px;
	}

	.widget .widget-title {
		margin: 10px 0 !important;
	}

	.main-navigation ul {
		background: #fcfcfc;
	}
 	.title-product {
 		margin: 15px 0;
 		font-size: 22px;
 	}

 	.title_main img {
 		float: left;
 		margin-right: 10px;
 	}

 	.team-css .top-team h2 {
 		font-size: 22px !important;
 	}

 	.list-person li img {
 		width: 80%;
 	}

 	.list-person li {
 		margin-bottom: 15px;
 	}

 	.product-content ul li {
 		text-align: center;
 	}

 	.product-content ul li h4 {
 		text-align: left;
 		margin: 15px 0;
 	}

 	.product-content ul li img.size-product-thumb {
 		width: 80%;
 		float: none;
 		margin: 0 auto;
 	}

 	.contact-css {
 		padding-bottom: 0 !important;
 	}

 	.site-footer {
 		background: #f47a2a;
 	}

 	.site-footer .copy-right p {
 		color: #fff;
 	}

 	.contact-content ul li {
 		margin-bottom: 20px;
 	}
 	#site-header-menu #site-navigation{
 		display: none !important;
 	}
 	#site-header-menu #site-navigation.show_menu{
 		display: block !important;
 	}
 	.carousel-inner{
 		padding: 0 15px !important;
 	}
 	.banner-column-left{
 		margin-bottom: 40px !important;
 	}
 	.banner-column-right.text-left{
 		text-align: center !important;
 	}
 	.banner{
 		background: #0E63C9 !important;
 		padding: 20px 0 !important;
 	}
 	.title_main img{
 		margin-bottom: 15px;
 	}
 	.title_main h4{
 		text-align: left !important;
 	}
 	.main-app{
 		width: 100%;
 	}
 	.main-app .center p{
 		padding-top: 0 !important;
 	}
 	#menu-main-menu{
 		padding-bottom: 20px !important;
 	}
 	#menu-main-menu li{
 		display: block;
 		border-top: none;
 	}
 	.main-navigation li{
 		padding: 8px 0;
 	}
 	.login-target{
 		margin: 0 !important;
 	}
 	.login-target a{
 		color: #fff !important;
 	}
 	.top-footer{
 		padding: 20px 0 0 !important;
 	}
 	.product-link ul, .product-info ul{
 		margin-left: 0 !important;
 	}
}




