.infomation_block {
  text-align: center;
  display: inline-block; }
.infomation_block h3 {
    margin: 60px 0 30px;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #0d63c9;
}
.infomation_block .txt-left-info{
	text-align: justify;
	color: #0d63c9
}
.text-center{
  text-align: center;
}
.process-w h3{
  font-weight: bold;
  margin: 40px 0 15px;
  font-size: 18px;
  text-transform: uppercase;
}
.process-css h2{
  margin-top: 40px !important;
}
